<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <title>capstone</title>
</head>
<header>
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <h1>My Blog</h1>
   
    
  </nav>
</header>
<main class="container">

